$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a, a:hover, a:focus {
  color: #000;
}
.text-white {
  color: #fff;
}
.sidebar-toggle {
  float: left;
  display: inline-block;
  margin-top: 30px;

  .icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: all .35s;
  }

  &.open .icon-bar:nth-child(1) {
    transform-origin: right top;
    transform: rotate(-39deg) translate(-3px, -3px);
  }
  &.open .icon-bar:nth-child(2) {
    opacity: 0;
  }
  &.open .icon-bar:nth-child(3) {
    transform-origin: right bottom;
    transform: rotate(39deg) translate(-3px, 3px);
  }
}

.page-content {
  position: relative;
}
.header {
  padding: 1em 0;
  text-align: center;

  .lang-toggle {
    float: right;
  }
}
.brand img {
  width: 75%;
}
.sidebar-nav {
  margin: 50px 20px 20px;
  text-align: center;

  >li>a,
  >li>a:hover,
  >li>a:focus {
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    background-color: transparent;
  }
}
.owl-carousel {
  .slide-text {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .35s ease-out;
    transform: translateY(-50%);
  }
  .active .loaded .slide-text {
    opacity: 1;
  }
}
.footer {
  color: #979797;
  line-height: 50px;
  background-color: #fff;

  p {
    margin: 0;
    font-style: italic;
  }
}
.banner {

  figure {
    position: relative;
    overflow: hidden;

    figcaption {
      position: absolute;
      left: 10%;
      right: 10%;
      bottom: 0;
      z-index: 10;
      line-height: 40px;
      font-size: 20px;
      text-align: center;
      white-space: nowrap;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, .5);
    }

    img {
      display: block;
      width: 100%;
    }
  }

  article {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
    font-size: 12px;
    text-align: justify;
  }
}
.sub-nav {
  line-height: 1.5;
  margin-top: 2em;
  margin-bottom: 3em;
  text-align: center;
}
.line-text {
  margin: 50px 20px 30px;

  .text {
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    &.pd-r {
      padding-right: 3em;
    }
  }
  .line {
    border-bottom: 3px solid #000;
  }

  .text-append {
    position: relative;
    z-index: 5;
    margin-top: -4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
  }

  .text-btm {
    font-size: 12px;
    line-height: 1;
    padding-left: 1em;
    margin-top: -5px;
  }
}
.client-group {
  list-style-type: none;
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;

  li {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    img {
      max-width: 60%;
      max-height: 76px;
    }
  }
}
@media (min-width: 768px) {
  .page-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header {
    .brand img {
      width: auto;
      margin-top: 10px;
      height: 50px;
    }
    .lang-toggle {
      margin-top: -40px;
    }
  }
  .owl-carousel .slide-text {
    font-size: 40px;
  }
  .sub-nav {
    margin-top: 50px;
    margin-bottom: 60px;
    line-height: 2;
  }
  .banner {
    figure figcaption {
      font-size: 24px;
      line-height: 50px;
    }
    article {
      padding: 30px;

      &:first-letter {
        font-size: 16px;
      }
    }
  }
  .line-text.pd-v {
    margin: 200px 50px 180px;
  }
}
@media (min-width: 992px) {
  body {
    padding-bottom: 50px;
  }
  .page-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pad-md-h {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sidebar {
    position: fixed;
    width: 460px;
    left: -460px;
    top: 80px;
    bottom: 50px;
    z-index: 10;
    background-color: #fff;
    transition: all .5s ease-out;
    opacity: 0;
    &.open {
      left: 0px;
      opacity: 1;
    }
    .sidebar-nav {
      text-align: left;
      margin-left: 40px;
      line-height: 2;
      >li>a,
      >li>a:hover,
      >li>a:focus {
        font-size: 24px;
      }
      >li>a {
        transition: all .35s ease;
        transform-origin: left center;
      }
      >li>a:hover,
      >li>a:focus {
        transform: scale(1.1);
      }
    }
  }
  .owl-carousel {
    height: calc(100vh - 150px);
    .slide-text {
      font-size: 50px;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: #fff;
  }
  .banner {
    figure figcaption {
      font-size: 30px;
      line-height: 60px;
    }
    article {
      font-size: 14px;

      &:first-letter {
        font-size: 20px;
      }
    }
  }
  .sub-nav {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 16px;
    text-align: left;
    h5 {
      line-height: 3;
      font-size: 24px;
    }
    p {
      line-height: 2;
    }
  }
  .line-text {
    width: 780px;
    margin-top: 0px;
    margin-bottom: 80px;
    &, &.pd-v {
      margin-left: auto;
      margin-right: auto;
    }
    .text,
    .text-append {
      font-size: 24px;
    }
    .text-append {
      margin-top: -6px;
    }
    .text-btm {
      font-size: 16px;
    }
  }

  .client-group {
    width: 780px;
    margin: 0 auto;
    text-align: center;
    li {
      width: auto;
      float: none;
      display: inline-block;
      vertical-align: middle;
      img {
        max-width: auto;
        height: auto;
      }
    }
  }
  .md-full {
    position: relative;
    height: calc(100vh - 150px);
    overflow: hidden;
  }
  .slide-mask {
    position: fixed;
    bottom: 50px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 50px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    .normal {
      margin: 0;
      text-transform: uppercase;
    }
    .small {
      margin: 0;
      font-size: 30px;
    }
  }
  .img-shan:hover {
    animation: shan 1s ease-out;
  }
  .table-md {
    display: table;
    width: 100%;
    table-layout: fixed;
    &.full {
      height: calc(100vh - 150px);
    }
    .cell-md {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
@media (min-width: 1200px) {
  .page-content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .sidebar .sidebar-nav {
    margin-left: 50px;
  }
  .owl-carousel .slide-text {
    font-size: 70px;
  }
  .banner {
    figure figcaption {
      font-size: 40px;
      line-height: 100px;
    }
  }
  .line-text {
    width: 1000px;
    .text,
    .text-append {
      font-size: 30px;
    }
    .line {
      border-bottom-width: 5px;
    }
    .text-append {
      margin-top: -10px;
    }
    .text-btm {
      font-size: 20px;
    }
  }
  .client-group {
    width: 1000px;
  }
  .slide-mask {
    width: 1000px;
    margin-left: -500px;
  }
  .sub-nav {
    margin-top: -20px;
    margin-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .owl-carousel .slide-text {
    font-size: 80px;
  }
  .banner {
    figure figcaption {
      font-size: 50px;
      line-height: 120px;
    }
  }
  .line-text {
    width: 1200px;
    .text,
    .text-append {
      font-size: 40px;
    }
    .line {
      border-bottom-width: 6px;
    }
    .text-append {
      margin-top: -12px;
    }
    .text-btm {
      font-size: 24px;
    }
  }
  .client-group {
    width: 1200px;
  }
}
@keyframes shan {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
