$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a, a:hover, a:focus {
  color: #000;
}
.text-white {
  color: #fff;
}
.sidebar-toggle {
  float: left;
  display: inline-block;
  margin-top: 30px;
}
.sidebar-toggle .icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: all .35s;
}
.sidebar-toggle.open .icon-bar:nth-child(1) {
  transform-origin: right top;
  transform: rotate(-39deg) translate(-3px, -3px);
}
.sidebar-toggle.open .icon-bar:nth-child(2) {
  opacity: 0;
}
.sidebar-toggle.open .icon-bar:nth-child(3) {
  transform-origin: right bottom;
  transform: rotate(39deg) translate(-3px, 3px);
}

.page-content {
  position: relative;
}
.header {
  padding: 1em 0;
  text-align: center;
}
.brand img {
  width: 75%;
}
.sidebar-nav {
  margin: 50px 20px 20px;
}
.sidebar-nav>li>a,
.sidebar-nav>li>a:hover,
.sidebar-nav>li>a:focus {
  font-size: 16px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
.owl-carousel {
  .slide-text {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .35s ease-out;
    transform: translateY(-50%);
  }
  .active .slide-text {
    opacity: 1;
  }
}
.footer {
  color: #979797;
  line-height: 50px;
  background-color: #fff;
}
.footer p {
  margin: 0;
  font-style: italic;
}
@media (min-width: 768px) {
  .page-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .owl-carousel .slide-text {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .page-content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .owl-carousel .slide-text {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .page-content {
    padding-left: 80px;
    padding-right: 80px;
  }
  .owl-carousel .slide-text {
    font-size: 70px;
  }
}
